<h1>IBM Applied Data Science Capstone Course by Coursera</h1>
<h2>Segmenting and Clustering Neighborhoods in Toronto</h2>
<h4>Week 3 Part 2</h4>
<hr>

<h2>Question 2</h2>
<b>Use the Geocoder package or the csv file to create dataframe with longitude and latitude values.</b>

Installing Library

In [1]:
#!pip install geocoder

Importing Libraries

In [2]:
import pandas as pd
import numpy as np
import geocoder
print("Imported!")

Imported!

<b>Reading the <i>toronto.csv</i> created in Part 1.</b>

In [3]:
df = pd.read_csv('toronto.csv')
df.head()

  Postalcode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [4]:
print(df.shape)
df.describe()

(103, 3)

       Postalcode     Borough Neighborhood
count         103         103          103
unique        103          10           99
top           M1T  North York    Downsview
freq            1          24            4

In [5]:
def get_latlong(postal_code):
    lat_long_coords = None
    while(lat_long_coords is None):
        g = geocoder.arcgis('{}, Toronto, Ontario'.format(postal_code))
        lat_long_coords = g.latlng
    return lat_long_coords
    
get_latlong('M4G')

[43.70941386000004, -79.36309957799995]

<b>Retrieving Postal Code Co-ordinates</b>

In [7]:
postal_codes = df['Postalcode']    
coords = [ get_latlong(postal_code) for postal_code in postal_codes.tolist() ]

In [8]:
# Adding Columns Latitude & Longitude
df_coords = pd.DataFrame(coords, columns=['Latitude', 'Longitude'])
df['Latitude'] = df_coords['Latitude']
df['Longitude'] = df_coords['Longitude']

In [9]:
df[df.Postalcode == 'M1H']

  Postalcode      Borough Neighborhood   Latitude  Longitude
4        M1H  Scarborough    Cedarbrae  43.768791 -79.238813

In [10]:
df.to_csv('toronto2.csv',index=False)

In [11]:
df.head(11)

,Postalcode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.808626,-79.189913
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.785779,-79.157368
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.765806,-79.185284
3,M1G,Scarborough,Woburn,43.771545,-79.218135
4,M1H,Scarborough,Cedarbrae,43.768791,-79.238813
5,M1J,Scarborough,Scarborough Village,43.744203,-79.228725
6,M1K,Scarborough,"Kennedy Park, Ionview, East Birchmount Park",43.726881,-79.265694
7,M1L,Scarborough,"Golden Mile, Clairlea, Oakridge",43.713340,-79.284942
8,M1M,Scarborough,"Cliffside, Cliffcrest, Scarborough Village West",43.723538,-79.228353
9,M1N,Scarborough,"Birch Cliff, Cliffside West",43.696448,-79.265642
10,M1P,Scarborough,"Dorset Park, Wexford Heights, Scarborough Town...",43.761310,-79.269940